.logo-pequena {
    width: 130px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

.logo-pequena img {
    width: 26px;
    margin-right: 5px;
}

.logo-pequena span {
    font-family: Righteous;
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: -0.012em;
}

.deck-de-perguntas {
    width: 90%;
    margin: 10vh auto 0px auto;
    
}

.deck-de-perguntas .pergunta {
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}